-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu

torchtext==0.3.1
spacy
blis
catalogue
certifi==2019.11.28
chardet
click
cymem
Flask
gunicorn
idna
importlib-metadata==1.6.0
itsdangerous
Jinja2
MarkupSafe
murmurhash
numpy
plac
preshed
requests
six
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
zipp
